@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.left {
  display: flex;
  align-items: center;
  gap: 16px;

  .menu_button {
    font-size: 20px;

    @include tablet {
      display: none;
    }
  }

  .logo {
    display: none;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: $color-text;

    @include tablet {
      display: flex;
    }
  }
}

