@import "../../styles/variables";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100dvh);

  .card {
    width: calc(100% - 32px);
    max-width: 500px;
    box-shadow: $shadow-lg;
  }

  .title {
    text-align: center;
  }
}
