@use "../../../../../styles/variables" as *;

.title_row {
  display: flex;
  align-items: center;
  gap: 12px;

  .title {
    margin: 0;
    color: $color-text;
    flex: 1;
  }
}

.title_edit {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title_input {
  font-size: 24px;
  font-weight: 600;
  padding: 8px 12px;
  flex: 1;
}

