@use "../../../../../styles/variables" as *;

.body_row {
  display: flex;
  gap: 12px;

  .text {
    white-space: pre-wrap;
    word-break: break-word;
    font-size: 16px;
    line-height: 1.8;
    color: $color-text;
    margin: 0;
    flex: 1;
  }
}

.body_edit {
  display: flex;
  gap: 12px;
}

.body_input {
  font-size: 16px;
  line-height: 1.8;
  flex: 1;
}

.body_actions {
  display: flex;
  align-items: center;
  align-self: flex-start;
}

