@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mixins" as *;

.container {
  min-height: calc(100dvh - $header-height - $footer-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .error_icon {
    font-size: 64px;
    color: $color-error;
    margin-bottom: 16px;
  }
}
