@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.container {
  padding: 16px 0px;
  .back_button {
    margin-bottom: 16px;
  }

  .content {
    background: $color-white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: $shadow-sm;

    .header {
      margin-bottom: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid $color-border-secondary;

      .meta {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 16px;

        .date {
          color: $color-text-tertiary;
          font-size: 14px;
        }
      }

      .title {
        margin: 0;
        color: $color-text;
      }
    }

    .tags {
      margin-bottom: 16px;
    }

    .body {
      .text {
        white-space: pre-wrap;
        word-break: break-word;
        font-size: 16px;
        line-height: 1.8;
        color: $color-text;
        margin: 0;
      }
    }
  }
}
