@use "../../../styles/variables" as *;

.container {
  width: 100%;
  padding: 24px 0;

  .title {
    color: $color-text;
    display: flex;
    align-items: center;
    gap: 8px;

    .anticon {
      font-size: 28px;
      color: $color-primary;
    }
  }
}
