@use "../../../../styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .empty_icon {
    font-size: 64px;
    color: $color-text-tertiary;
    opacity: 0.5;
  }

  .empty_text {
    font-size: 18px;
    font-weight: 600;
    color: $color-text;
    margin-top: 16px;
  }

  .empty_description {
    font-size: 14px;
    color: $color-text-secondary;
  }
}
