.legend {
  margin-bottom: 24px;
  padding: 16px;
  background: #fafafa;
  border-radius: 4px;

  .legend_container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;

    .legend_group {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      align-items: center;
      padding-right: 16px;

      &.has_border {
        border-right: 1px solid #8c8c8c;
      }
    }

    .legend_item {
      display: flex;
      align-items: center;
      gap: 8px;

      .color_box {
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid #d9d9d9;
      }
    }
  }
}
