@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.container {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;

  :global {
    .react-resizable-handle {
      cursor: col-resize;
    }
  }
}
