@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.container {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;

  :global {
    .react-resizable-handle {
      cursor: col-resize;
    }
  }
}

.table_row {
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }
}
