@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.header {
  position: sticky;
  height: $header-height;
  top: 0;
  z-index: $z-index-header;
  background: $color-white;
  border-bottom: 1px solid $color-border;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;

    @include laptop {
      width: 1024px;
    }
  }
}
