@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.layout {
  min-height: 100dvh;
  background-color: $color-bg-layout;

  .content {
    flex: 1;
    padding: 0 16px;

    @include laptop {
      margin: 0 auto;
      width: 100%;
      max-width: 1024px;
    }
  }
}
