@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.container {
  min-height: calc(100dvh - $header-height - $footer-height);
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .icon {
      font-size: 120px;
      color: $color-text-tertiary;
    }

    .title {
      margin-top: 16px;
      font-weight: 700;
      color: $color-primary;
      line-height: 1;
    }

    .actions {
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
